* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #eee;
}

.container {
  background-color: azure;
  width: 400px;
  margin: 15px auto;
  padding: 20px;
}

h1 {
  background-color: aqua ;
  text-align: center;
}

li {
  padding: 5px;
  margin: 5px auto;
  width: 150px;
  background-color: blanchedalmond;
}

li:hover{
  background-color: beige;
}